.dark-mode{
    background-color: rgb(79, 143, 161);
    color: white;
}

.dark-mode nav{
    background-color: rgb(171, 39, 39);
    /* color: white; */
}

.dark-mode section{
    background-color: black ;
    color: white;
}
.dark-mode .bg-blue-100{
    background-color: black;
    color: white;
}
.dark-mode .bg-white{
    background-color: rgb(40, 40, 99);
}
.dark-mode .text-gray-700{
    color:white
}